<div class="login__container">
    <div class="login__header">
        <p class="
            font__size--h6
            font__color--primary
            font__weight--regular
            ">
            {{ translation.translate('login.title')  }}
        </p>
        <p class="
            font__size--b2
            font__color--secondary
            font__weight--regular
            ">
            {{ translation.translate('login.subtitle') }}
        </p>
    </div>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" autocomplete="off">
        <yd-input
            [autocomplete]="'current-email'"
            [hasError]="hasError()"
            [icon]="'envelope'"
            [placeholder]="translation.translate('input.email')"
            formControlName="email"
            fullSize
            type="email"
        />
        <yd-input
            [autocomplete]="'current-password'"
            [hasError]="hasError()"
            [errorMessage]="translation.translate(errorMessage() || '')"
            [icon]="'lock'"
            [placeholder]="translation.translate('input.password')"
            formControlName="password"
            fullSize
            type="password"
        />
        <yd-button 
            fullSize
            [disabled]="loginForm.invalid"
            type="submit">
            @if(isSubmited()) {
                <yd-icon
                    name="spinner"
                />
            }
            @else {
                {{ translation.translate('button.login') }}
            }
        </yd-button>
    </form>
    <div class="login__footer">
        <p class="
            font__size--b2
            font__color--secondary
            font__weight--regular
            ">
            {{ translation.translate('login.footer') }}
            <a routerLink="../create-account" class="font__color--link">
                {{ translation.translate('login.url') }}
            </a>
        </p>
    </div>
</div>

