<div class="login__container">
    <div class="login__header">
        <p class="
            font__size--h6
            font__color--primary
            font__weight--regular
            ">
            {{ 'login.title' | translate:translation.GetLang }}
        </p>
        <p class="
            font__size--b2
            font__color--secondary
            font__weight--regular
            ">
            {{ 'login.subtitle' | translate:translation.GetLang }}
        </p>
    </div>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" autocomplete="off">
        <yd-input
            [autocomplete]="'current-email'"
            [hasError]="hasError()"
            [icon]="'envelope'"
            [placeholder]="'input.email' | translate:translation.GetLang"
            formControlName="email"
            fullSize
            type="email"
        />
        <yd-input
            [autocomplete]="'current-password'"
            [hasError]="hasError()"
            [icon]="'lock'"
            [placeholder]="'input.password' | translate:translation.GetLang"
            formControlName="password"
            fullSize
            type="password"
        />
        <yd-button 
            fullSize
            [disabled]="loginForm.invalid"
            type="submit">
            @if(isSubmited()) {
                {{'send...' | translate:translation.GetLang}}
            }
            @else {
                {{'button.login' | translate:translation.GetLang}}
            }
        </yd-button>
    </form>
    <div class="login__footer">
        <p class="
            font__size--b2
            font__color--secondary
            font__weight--regular
            ">
            {{ 'login.footer' | translate:translation.GetLang }}
            <a routerLink="../create-account">
                {{ 'login.url' | translate:translation.GetLang }}
            </a>
        </p>
    </div>
</div>

