main {
    padding: var(--spacing-blocks);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 100vh;
    
    .auth__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: var(--spacing-sm);
        background-color: var(--yd-color-surface-secondary);
        border: var(--border-xs) solid var(--yd-color-border-secondary);
        padding: var(--spacing-sm);
        border-radius: var(--radius-minimal);
        min-width: 25rem;
        height: 100%;

        .auth__header {
            display: flex;
            flex-direction: column;
            gap: var(--spacing-sm);
            align-items: center;
            border-radius: var(--radius-full);
            overflow: hidden;
            padding: var(--spacing-xs);
            border: var(--border-xs) solid var(--yd-color-border-secondary);
        }
        .auth__footer {
            display: flex;
            flex-direction: column;
            text-align: center;
            margin-top: auto;
        }
    }
}