@defer {
    @if(auth.authStatus() === 'authenticated') {
        <div class="main__container">
            <yd-navbar 
                (signOutEmit)="this.auth.logout()"
                [username]="'FineYudu'"
                [fullName]="'Erick Alcocer'"
                [notifications]="notifications()"
                [settingsMenu]="settingsMenu()"
                [profileImg]="profileImg() || ''"
                [companyLogo]="companyLogo()"
                [companyLogoRoute]="''"
                [navMenu]="navMenu()"
            >
    
            </yd-navbar>
        </div>
    } 
    @else if(auth.authStatus() === 'not-authenticated') {
        <yd-button
            [buttonStyle]="'secondary'"
            routerLink="/auth/login"
            >
            login
        </yd-button>
    } 
    @else {
        <span class="
            font__size--b2
            font__weight--bold
            font__color--primary
            ">
            ...
        </span>
    }
}
@placeholder(minimum 1500) {
    <logo-loader></logo-loader>
}

